body{
  cursor: url(plane.cur),default;
  background-color: #bedde7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 1;
}
#logo {
  height: 100%;
}
#anchor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 100%;
}

.links {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.links:hover,
.active {
  border-bottom: 2px solid rgb(229, 35, 35);
  padding-bottom: 5px;
}
#banner {
  overflow: hidden;
}
#banner {
  background-image: url(../img/service.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
} 
#title {
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 200px 40px;
  font-size: 37px;
  width: 690px;
  height: 200px;
}
.vip {
  margin-top: 50px;
  text-align: center;
  font-size: 38px;
  color: #0060ff;
}
.two {
  font-size: 22px;
  text-align: center;
  color: #484c55;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.line > h1 {
  border-top: 3px solid #0060ff;
  width: 250px;
}
#img_vip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  flex-wrap: wrap;
}
#picture {
  background-image: url(../img/concriege.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 350px;
  margin: 45px;
  border-radius: 50px 0 50px 0;
}
.concierge {
  color: white;
  margin: 295px 20px;
  font-size: 25px;
  font-weight: bold;
}
#picture:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: underline solid white;
}
#picture2 {
  background-image: url(../img/tour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 350px;
  border-radius: 50px 0 50px 0;
}
.tour {
  color: white;
  margin: 295px 20px;
  font-size: 25px;
  font-weight: bold;
}
#picture2:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: underline solid white;
}
#picture3 {
  background-image: url(../img/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 350px;
  margin: 45px;
  border-radius: 50px 0 50px 0;
}
.car {
  color: white;
  margin: 295px 20px;
  font-size: 25px;
  font-weight: bold;
}
#picture3:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: underline solid white;
}
#picture4 {
  background-image: url(../img/ship.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 350px;
  border-radius: 50px 0 50px 0;
}
.ship {
  color: white;
  margin: 295px 20px;
  font-size: 25px;
  font-weight: bold;
}
#picture4:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: underline solid white;
}
#picture5 {
  background-image: url(../img/transfer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 350px;
  margin: 45px;
  border-radius: 50px 0 50px 0;
}
.transfer {
  color: white;
  margin: 295px 20px;
  font-size: 25px;
  font-weight: bold;
}
#picture5:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: underline solid white;
}
#picture1 {
  background-image: url(../img/cook.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 350px;
  border-radius: 50px 0 50px 0;
}
.cook {
  color: white;
  margin: 295px 20px;
  font-size: 25px;
  font-weight: bold;
}
#picture1:hover {
  transform: translateY(-10px);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: underline solid white;
}
.text_1 {
  margin-top: 50px;
  margin-left: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  font-size: 20px;
  font-family: "poppins";
}
.setting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.textimg {
  margin: 45px 26px;
  width: 350px;
  height: 260px;
  border-radius: 7px;
}
.textimg:hover {
  transition: all 0.7s;
  transform: scale(1.1);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
  padding: 30px;
  background-color: #0060ff;
  color: white;
}
footer > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
footer > div:first-child > img {
  margin-right: 100px;
  width: 170px;
  height: 170px;
}
footer > div:first-child > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#icons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
#icons > a {
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #0060ff;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #0060ff;
}
#icons > a:hover {
  color: white;
  background-color: #0060ff;
  transition: all 0.5s;
  border: 2px solid white;
}
footer > div:nth-child(2) {
  margin: 30px 0;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > div:nth-child(2) > a {
  color: white;
}
footer > div:nth-child(2) > a:hover {
  text-decoration: underline;
}
#lnks > div {
  margin-bottom: 6px;
}
#lnks > div > span {
  margin-left: 5px;
}
.number {
  color: white;
  text-decoration: none;
}
.foot{
  text-decoration: none;
}
